Checks:
	'*,-cppcoreguidelines-pro-type-union-access,-google-readability-braces-around-statements,-readability-braces-around-statements,-google-readability-todo,-readability-implicit-bool-cast,-clang-diagnostic-error,-cppcoreguidelines-pro-bounds-constant-array-index,-llvm-include-order,-llvm-header-guard,-google-runtime-int,-modernize-use-override,-google-readability-casting,-google-readability-namespace-comments,-llvm-namespace-comment,-misc-unused-parameters,-clang-analyzer-alpha.security*'
HeaderFilterRegex: 'src/'
